<!-- The content below is only a placeholder and can be replaced. -->
<div style="text-align:center">
  <h1>Hello, my name is {{ name }}!</h1>
  <hr>
  <app-assignment-four></app-assignment-four>
  <app-assignment-three></app-assignment-three>
  <app-assignment-two></app-assignment-two>
  <app-assignment-one></app-assignment-one>
  <hr>
  <app-only-odd></app-only-odd>
  <hr>
  <input type="text" [(ngModel)]="name" />
  <p>{{ name }}</p>
  <hr>
  <app-servers></app-servers>
  <app-cmp-databinding></app-cmp-databinding>
</div>
<router-outlet></router-outlet>
