<div class="assignments-container">
  <h1>Assignment 6: Practicing Template-Driven Forms</h1>
  <hr />
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="email" class="col-sm-4 col-form-label text-right">Email</label>
      <div class="col-sm-5">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          ngModel
          required
          email
          #email="ngModel">
          <small
            class="text-left form-text text-muted"
            *ngIf="!email.valid && email.touched">Please type valid email.</small>
      </div>
    </div>

    <div class="form-group row">
      <label for="dropdown" class="col-sm-4 text-right">Choose subscription</label>
      <div class="col-sm-5">
        <select
          name="dropdown"
          id="dropdown"
          class="form-control"
          [ngModel]="defaultSubscription"
          required>
          <option value="basic">Basic</option>
          <option value="advanced" >Advanced</option>
          <option value="pro">Pro</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-4 text-right">Password</label>
      <div class="col-sm-5">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          minlength="4"
          ngModel
          required
          password
          #password="ngModel">
          <small
            class="form-text text-muted text-left"
            *ngIf="!password.valid && password.touched">Your password must contains at least 4 characters.</small>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!f.valid">Submit</button>
  </form>
</div>
